.luz{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}


.rojo{
    background-color: red;

}




.amarillo{
background-color: rgb(255, 238, 0);
    margin-top: 20%;
}




.verde{
background-color: green;
    margin-top: 20%;
}



.luz-apagada{
    filter: brightness(43%);
}



.cuerpo{
    background-color: grey;
    padding: 10%;
    display: flex;
    border-radius: 25%;
}

.cuerpo1{
    background-color: rgb(83, 83, 83);
     display: flex;
    border-radius: 20%;
    padding-bottom: 20%;
    padding-top: 20%;
}




