.luz{
    width: 5rem;
    height: 5rem;
}


.rojo{
    background-color: red;

}




.amarillo{
background-color: rgb(255, 238, 0);

}




.verde{
background-color: green;

}



.luz-apagada{
    filter: brightness(43%);
}







