.luz{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.rojoWord{
    font-size: 1.5rem;
    display: flex; 
    padding-top: 38%;
    padding-left: 28%;

}
.rojo{
    background-color: red;

}


.amarilloWord{
    font-size: 1.5rem;
    display: flex; 
    padding-top: 38%;
    padding-left: 28%;
}

.amarillo{
background-color: rgb(255, 238, 0);
    margin-top: 20%;
}


.verdeWord{
    font-size: 1.5rem;
    display: flex; 
    padding-top: 35%;
}

.verde{
background-color: rgb(0, 255, 0);
    margin-top: 20%;
}



.luz-apagada{
    filter: brightness(43%);
}



.cuerpo{
    background-color: grey;
    padding: 5rem;
    display: flex;
    border-radius: 25%;
}

.cuerpo1{
    background-color: rgb(83, 83, 83);
     display: flex;
    border-radius: 20%;
    padding-bottom: 2rem;
    padding-top: 4rem;
}




